.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: auto;
  border: 1px lightgray solid;
  border-radius: 10px;
  transform: translateY(55%);
  transform-origin: center;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}